$choco-claro: #C38154;
$mostaza:#C07F00;
$choco-medio:#884A39;
$amarillito: #FFF8D6;
$naranjoso: #FF8400;
$choco-amargo: #4F200D;
$naranja-marron:#B8621B;
$amarillo-marron:#e7b00a98;
$naranjita:#FFC26F;
